@font-face {
  font-family: "avenirbook";
  src: url("avenirltstd-book-webfont.woff2") format("woff2"),
    url("avenirltstd-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenirroman";
  src: url("avenirltstd-roman-webfont.woff2") format("woff2"),
    url("avenirltstd-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

