body {
    margin: 0;

    font-family: "avenirroman", sans-serif;
    font-size: 24px;
    color: #252525;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}



/* Container */

.page-container {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1312px;

    margin: 0 auto;
}



/* Section */

.section {
    background-image: url('img/section_bg.jpg');
    background-size: cover;
}

.section__inner {
    padding: 64px 0;

    display: flex;
    flex-direction: column;
    gap: 318px;
}



/* Content */

.content {
    width: 512px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content__title {
    font-size: 72px;
    line-height: 88px;
    font-weight: 900;
}

.content__text {
    opacity: .8;
}

.content__btn {
    padding: 24px 48px;
    
    font-family: 'Poppins', sans-serif;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;

    background-color: #252525;
    border-radius: 36px;
}



/* Card */

.card {
    position: relative;
    width: 685px;
    align-self: flex-end;
    padding:  16px 28px;
}

.card__img {
    width: 80px;
    height: 80px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card__text {
    padding-left: 100px;
    font-size: 22px;
    opacity: .8;
}