body {
  margin: 0;

  font-family: "Avenir-roman";
  font-weight: 400;
  font-size: 26px;
  color: #252525;
}

.container {
  width: 100%;
  max-width: 1312px;

  margin: 0 auto;
}

.container-inner {
  display: flex;
  gap: 0 113px;

  margin-top: 122px;
}

.title {
  font-size: 88px;
  line-height: 80px;
  font-weight: 900;
}

/* Content */

.content {
  width: 526px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
}

.content .text {
  font-size: 26px;
  font-weight: 400;
  opacity: 80%;
}

.primary-button {
  font-size: 18px;
  line-height: 18px;
  padding: 16px 32px;
  background-color: #252525;
  color: #fff;
  border-radius: 16px;
}

.hero-image {
  margin-top: 120px;
  width: 100%;
}
