/* Poppins [from https://fonts.google.com] */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2c1001;
}

.container {
  position: relative;

  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

/* Intro */

.intro-inner {
  width: 100%;
  margin: 64px 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Content */

.content {
  width: 568px;
  margin-top: 234px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px 0;
}

.content .title {
  font-size: 64px;
  font-weight: 700;
  line-height: 84px;
}

.content .text {
  font-weight: 300;
}

.content .primary-button {
  font-size: 20px;
  line-height: 18px;

  background: #ffde81;
  padding: 30px 40px;
  border-radius: 36px;
}

/* List */

.list {
  margin-top: 76px;

  display: flex;
  gap: 0 64px;

  background: #49342f;
  padding: 24px 96px;
  border-radius: 24px;
}

.list-element {
  width: 110px;

  color: #fff;
}

.list-element .number {
  font-weight: 600;
}

.list-element .number::after {
  content: "";
  display: block;

  width: 38px;
  height: 4px;
  background: #fff;
  margin: 16px 0;
}

.list-element .text {
  font-size: 16px;
}

/* Hero Image */

.hero-image {
  position: absolute;
  top: 48px;
  left: 604px;
}
