@font-face {
  font-family: "timesbold";
  src: url("times_bold-webfont.woff2") format("woff2"),
    url("times_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "timesregular";
  src: url("timesr-webfont.woff2") format("woff2"),
    url("timesr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
