body {
  margin: 0;

  font-family: "Avenir-roman", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #252525;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

.container-inner {
  margin-top: 64px;
}

/* Main Title */

.main-title {
  font-size: 88px;
  font-weight: 900;
  line-height: 104px;
}

/* Card */

.card {
  width: 100%;
  margin-top: 69px;

  display: flex;
  justify-content: space-between;
  gap: 0 56px;
}

.content .number {
  font-size: 32px;
  font-weight: 900;
  opacity: 55%;
}

.content .text {
  margin-top: 4px;

  opacity: 80%;
}

.card-element .image {
  width: 400px;
  height: 345px;
  margin-top: 24px;
}
