body {
  margin: 0;

  font-family: "Inter", sans-serif;
  color: #252525;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Container */

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

/* Intro */

.intro {
  padding: 100px 0 64px;

  background-image: url("assets/img/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

/* Content */

.content {
  width: 511px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.content {
  font-size: 32px;
  font-weight: 700;
}

.content__title::after {
  margin-top: 32px;

  content: "";
  display: block;
  width: 452px;
  height: 4px;
  background-color: #333;
}

.content__text {
  width: 463px;
}

.content__text p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.content__btn {
  font-size: 22px;
  color: #252525;
  line-height: 18px;
  font-weight: 500;
  background-color: #e3b635;
  padding: 24px 40px;
  border-radius: 40px;
}

/* List */

.list {
  margin-top: 72px;

  display: flex;
  gap: 0 20px;
}

.list__element {
  width: 190px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px 0;

  color: #fff;
  background-color: #242424;
  padding: 24px 48px;
  border-radius: 18px;
}

.list__count {
  font-size: 22px;
  font-weight: 600;
}

.list__text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}
