body {
    margin: 0;

    font-family: 'helveticaregular', sans-serif;
    font-size: 22px;
    color: #06040A; 
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}



/* Container */

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    background-color: #F8F8F8;
}

.container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
}




/* Intro */

.intro {
    padding-bottom: 64px;
}

.intro__inner {
    position: relative;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.intro__title {
    position: absolute;
    top: 123px;
    left: 356px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 82.22px;
    font-weight: 700;
}

.intro__title span {
    color: #fff;
    -webkit-text-stroke: 1.14px #000;
}



/* Hero Image */

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



/* Content */

.content {
    width: 550px;
}

.content__text {
    margin: 40px 0 32px;

    font-family: 'helveticalight', sans-serif;
    font-size: 22px;
    line-height: 32px;
}

.content__btn {
    display: inline-block;
    padding: 24px 56px;

    font-size: 22px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;

    background-color: #06040A;
    border-radius: 40px;
}



/* Card */

.card {
    position: relative;
    margin: 326px 0 56px;
    padding: 104px 28px 48px;

    display: flex;
    gap: 48px;

    border: 1px solid #16151B;
    border-radius: 32px;
}

.card__circle {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.card__element {
    width: 135px;
}

.card__num {
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}

.card__text {
    font-family: 'helveticalight', sans-serif;
    font-size: 22px;
    line-height: 32px;
}



/* Gallery */

.gallery {
    display: flex;
    gap: 32px;
}