/* Poppins [from https://fonts.google.com] */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Times-regular", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #252525;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

.container-inner {
  width: 100%;
  height: 893px;
  margin: 64px 0;
}

/* Content */

.content {
  position: absolute;

  width: 637px;
  height: 692px;
  margin: 0 auto;
}

.content-inner {
  width: 306px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 48px 0;

  text-align: center;
}

.content-inner .title {
  font-size: 112px;
  line-height: 108px;
}

.content-inner .text {
  opacity: 0.8;
}

.container-inner .primary-button {
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  color: #fff;
  background: #252525;
  padding: 24px 48px;
  border-radius: 36px;
}

/* Panel Layout */

.panel-layout {
  display: flex;
  justify-content: space-between;
}

.side-panel {
  display: flex;
  gap: 230px 0;
}

.side-panel-left {
  margin-top: 35px;
  flex-direction: column;
}

.side-panel-right {
  margin-bottom: 44px;
  flex-direction: column-reverse;
}

.text-card .number {
  font-family: "Times-", sans-serif;
  font-weight: 700;
  opacity: 0.45;
}

.text-card .text {
  margin-top: 8px;
  opacity: 0.8;
}

/* Vector Image */

.vector-images .image {
  position: absolute;
}

.image-explosion {
  top: 230px;
  left: 84px;
}

.image-star-1 {
  top: 237px;
  left: 311px;
}

.image-star-2 {
  top: 535px;
  right: 328px;
}

.image-party {
  top: 647px;
  right: 131px;
}
