body {
    margin: 0;

    font-family: 'Space Mono', sans-serif;
    font-size: 22px;
    color: #FFF;

    background-color: #000;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
}



/* Intro */

.intro {
    position: relative;

    padding-bottom: 40px;   
}

.intro__inner {
    position: relative;

    display: flow-root;
}

.intro-bg {
    position: relative;
    z-index: -2;
}

.sun-img {
    position: absolute;
    top: -15px;
    left: -80px;
}

.hero-img {
    position: absolute;
    top: -123px;
    right: 62px;
}



/* Content */

.content {
    width: 640px;
    margin: 213px 0 145px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content__title {
    font-family: 'Bitter', sans-serif;
    font-size: 72px;
    line-height: 92px;
    font-weight: 800;
}

.content__text {
    width: 590px;
}

.content__text p {
    font-size: 22px;
    font-weight: 400;
}

.content__btn {
    padding: 24px 40px;

    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;

    background-color: #fff;
    border-radius: 40px;
}



/* Stat */

.stat {
    position: absolute;
    top: 0;
    right: 0;

    text-align: center;
}

.stat__element {
    position: relative;
}

.stat__element:nth-child(1) {
    top: 478px;
    right: 435px;
}

.stat__element:nth-child(2) {
    top: 64px;
    right: 64px;
}

.stat__count {
    font-family: 'Bitter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.stat__text {
    font-size: 16px;
    font-weight: 400;
}



/* Card */

.card {
    margin-bottom: 64px; 
}

.card__inner {
    display: flex;
    gap: 24px;
}

.card__element {
    flex: 1 0 0;
    padding: 24px 22px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    background: linear-gradient(to bottom, rgba(255,255,255,0.25), rgba(255,255,255,0));
    box-shadow: inset -8px -8px 24px 0 rgba(0, 0, 0, .25),
                inset 4px 4px 24px 0 rgba(255, 255, 255, .2);
    border: 1px solid #fff;
    border-radius: 16px;

}

.card__icon i {
    opacity: .9;
}

.card__title {
    font-size: 20px;
    font-weight: 700;
}

.card__text {
    font-size: 16px;
    font-weight: 400;
}