/* Avenira Roman */
@font-face {
  font-family: "Avenira";
  src: url("fonts/Avenir/avenir-roman.otf");
  src: url("fonts/Avenir/avenir-roman.otf") format("truetype");
  font-weight: 400;
}

/* Avenira Heavy */
@font-face {
  font-family: "Avenira";
  src: url("fonts/Avenir/avenir-heavy.ttf");
  src: url("fonts/Avenir/avenir-heavy.ttf") format("truetype");
  font-weight: 900;
}
