body {
  margin: 0;

  font-family: "Avenira";
  font-weight: 400;
  font-size: 26px;
  color: #252525;
}

.container {
  width: 100%;
  max-width: 1312px;

  margin: 0 auto;
  margin-top: 64px;
}

.content {
  width: 610px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px 0;

  text-align: center;
}

.content_title {
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
}

.content_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  opacity: 80%;
}

.primary_button {
  font-size: 18px;
  line-height: 18px;
  padding: 18px 48px;
  background-color: #252525;
  color: #fff;
  border-radius: 16px;
}

.image_list {
  width: 1312px;
  margin: 64px 0;

  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.image_element {
  width: 316px;
  height: 288px;
}
