body {
  margin: 0;

  font-family: "avenirroman", sans-serif;
  font-size: 26px;
  color: #252525;
}

*, 
*::after, 
*::before {
   box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}



/* Container */

.page-container {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1312px;

    margin: 0 auto;
}



/* Intro */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container-inner {
  display: flex;
  justify-content: space-between;

  margin: 67px 112px 0 0;
}

/* Hero Image */

/* Left Side Panel */

.image {
  width: 716px;
  height: 932px;
}

/* Right Side Panel */

.right-side-panel {
  width: 500px;
  margin-top: 13px;
}

/** Content **/

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px 0;
}

.content .text {
  font-size: 26px;
  font-weight: 400;
  opacity: 80%;
}

.content .title {
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
}

.primary-button {
  font-size: 18px;
  line-height: 18px;
  padding: 18px 48px;
  background-color: #252525;
  color: #fff;
  border-radius: 16px;
}

/** Text List **/

.text-list {
  width: 100%;
  margin-top: 88px;

  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.list-element .number {
  font-size: 32px;
  font-weight: 900;
  opacity: 55%;
}

.list-element .text {
  margin-top: 4px;
  font-size: 24px;
  opacity: 80%;
}
