@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;

  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #2f2f2f;
}

.container {
  width: 100%;
  max-width: 1312px;

  margin: 0 auto;
  margin-top: 67px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Content */

.content {
  width: 450px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px 0;
}

.text {
  font: 24px;
  font-weight: 400;
}

.primary-button {
  background-color: #fff;
  color: #232323;
  padding: 24px 48px;
  border-radius: 36px;
}

.image-gallery {
  width: 800px;
}

.image {
  width: 172px;
  height: 192px;

  margin-top: 8px;
  margin-right: 18px;
}

/** Title **/

.title {
  font-size: 72px;
  font-weight: 700;
}

.title-1 {
  color: #fec3c7;
}

.title-2 {
  color: #9ad7f3;
}

.title-3 {
  color: #6bdfda;
}
