@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;

  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #2f2f2f;
}

.container {
  width: 100%;
  max-width: 1312px;

  margin: 0 auto;
}

.container-inner {
  margin: 64px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Content */

.content {
  width: 450px;
  padding-left: 64px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px 0;
}

.text {
  font-size: 24px;
  font-weight: 400;
}

.primary-button {
  line-height: 18px;
  background-color: #fff;
  color: #232323;
  padding: 24px 48px;
  border-radius: 36px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 172px);
  gap: 8px 18px;
}

.image {
  width: 172px;
  height: 192px;
}

/** Title **/

.title {
  font-size: 72px;
  font-weight: 700;
}

.title-1 {
  color: #fec3c7;
}

.title-2 {
  color: #9ad7f3;
}

.title-3 {
  color: #6bdfda;
}
