body {
  margin: 0;

  font-family: "Avenir-roman", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252525;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

.container-inner {
  margin: 92px 0 60px;
}

/* Content-Image Section */

.content-image-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Content **/
.content {
  width: 637px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px 0;
}

.content .title {
  font-size: 72px;
  font-weight: 900;
  line-height: 88px;
}

.content .text {
  opacity: 0.8;
}

.content .primary-button {
  font-size: 24px;
  line-height: 18px;
  color: #fff;
  background-color: #252525;
  padding: 24px 48px;
  border-radius: 36px;
}

/* List */

.list {
  display: flex;
  justify-content: space-between;

  margin-top: 56px;
  background-color: #252525;
  padding: 64px;
  border-radius: 40px;
}

.list-element {
  color: #fff;
}

.list-element .title {
  font-size: 32px;
  font-weight: 900;
  opacity: 0.8;

  margin: 12px 0 24px;
}

.list-element .text {
  font-size: 24px;
}
