body {
  margin: 0;

  font-family: "Avenir-roman", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #252525;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

.container-inner {
  margin: 64px 0;
}

.hero-text {
  font-size: 72px;
  font-weight: 900;
  line-height: 88px;
}

/* List */

.list {
  margin-top: 64px;
  display: flex;
  gap: 0 16px;
}

.list-element {
  width: 316px;
}

.list-element .number {
  font-size: 40px;
  opacity: 35%;
}

.list-element .text {
  margin-top: 12px;

  opacity: 80%;
}

.image-content {
  position: relative;
  margin-top: 24px;
}

.image-content .image {
  width: 100%;
}

.image-content .content {
  position: absolute;
  top: 255px;
}

.content {
  padding: 24px 80px 24px 24px;
}

.content .text {
  font-size: 16px;
}
